<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> </title>
	<script src="./assets/jquery.min.js"></script>
	<script type="text/javascript" src="./assets/angular.min.js"></script>
	<script src="./assets/app.js"></script>
	<script src="./assets/js.js"></script>
	<!--BOOTSTRAP-->
	<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="http://maps.google.com/maps/api/js?libraries=places&region=uk&language=en&sensor=true"></script>

	<link rel="stylesheet" type="text/css" href="./assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css.css">
</head>

<body ng-app="zoomApp" ng-controller="zoomController as zCtrl">


	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
	</script>



	<div class="jumbotron text-center">
		<img src="http://assets.zoomcar.com/assets/logo_white-98017ee38791e1111133f2e23237de28.png" alt="ZoomCar">
	</div>

	<div class="container">

		<div class="row" ng-controller="itemController as iCtrl">
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12">
						<div ng-controller="apiController as apiCtrl" id="api_count" class="text-center" style="padding: 5px;">
							<span>API Hits:{{api_hits}} | Total Parcels: {{ parcels.length }}</span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<input type="text" ng-model="search_filter">
					</div>
				</div>

				<div class="row" style="margin-top: 3px; margin-bottom: 3px;;">
					<div class="col-md-12">

						<div class="btn-group ">
							<button type="button" class="btn btn-primary btn-sec">Sort By</button>
							<button type="button" class="btn btn-primary dropdown-toggle btn-sec" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" ng-model="list_order">
								<li><a href="#" ng-click="list_order='name'">Name  <span class="glyphicon glyphicon-text-color pull-right"></span></a></li>
								<li><a href="#" ng-click="list_order='price'">Price  <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
								<li><a href="#" ng-click="list_order='weight'">Weight  <span class="glyphicon glyphicon-oil pull-right"></span></a></li>
							</ul>
						</div>
						<span class="label label-default">
							 <span class="glyphicon glyphicon-text-color" ng-if="list_order=='name' "></span>
							 <span class="glyphicon glyphicon-text-color" ng-if="list_order=='-name' "></span>
								<span class="glyphicon glyphicon-stats" ng-if=" list_order=='price' "></span>
								<span class="glyphicon glyphicon-stats" ng-if=" list_order=='-price' "></span>
								<span class="glyphicon glyphicon-oil" ng-if=" list_order=='weight' "></span>
								<span class="glyphicon glyphicon-oil" ng-if=" list_order=='-weight' "></span>
						</span>
						<div class="btn btn-primary btn-sec" style="margin-left: 3px;" ng-click="reorder_list(list_order)"> {{current_order}} 
							 <span class="glyphicon glyphicon-arrow-down" ng-if="current_order=='Ascending' "></span> 
							  <span class="glyphicon glyphicon-arrow-up" ng-if="current_order=='Descending' "></span>
							 </div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="btn-group-vertical btn-full-width">
							<button type="button" class="btn btn-primary" ng-repeat="item in parcels | orderBy: list_order | filter: search_filter" ng-click="setItem(item); setMap(item.live_location)">{{item.name }}</button>
						</div>
					</div>
				</div>



				<div>
				</div>

			</div>
			<div class="col-md-9">



				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h4>{{currentItem.name | uppercase}} &nbsp;</h4> </div>
					<div class="panel-body">


						<div class="row">
							<div class="col-md-3">
								<img ng-src="{{currentItem.image}}" alt="{{currentItem.name}}" class="img-responsive">
							</div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-6">
										<table class="table table-hover">
											<tr>
												<td>
													<span class="glyphicon glyphicon-pencil"></span>
												</td>
												<td>Type</td>
												<td>{{currentItem.type}}</td>
											</tr>
											<tr>
												<td><span class="glyphicon glyphicon-oil"></span></td>
												<td>Weight</td>
												<td>{{currentItem.weight}} </td>
											</tr>
											<tr>
												<td><span class="glyphicon glyphicon-phone"></span></td>
												<td>Contact</td>
												<td>{{currentItem.phone}}</td>
											</tr>
											<tr>
												<td> <i class="glyphicon glyphicon-calendar"></i> </td>
												<td>Date</td>
												<td>{{currentItem.date | date:'medium' }}</td>
											</tr>
										</table>

									</div>
									<div class="col-md-6">
										<table class="table table-hover">
											<tr>
												<td> <span class="glyphicon glyphicon-stats"></span></td>
												<td>Price</td>
												<td>{{ currentItem.price | currency:"&#8377;"}}</td>
											</tr>
											<tr>
												<td><span class="glyphicon glyphicon-tasks"></span></td>
												<td>Qty.</td>
												<td> {{currentItem.quantity}} </td>
											</tr>
											<tr>
												<td><span class="glyphicon glyphicon-th-large"></span></td>
												<td>Color</td>
												<td>
													<div style="background-color: {{currentItem.color}}; border-radius: 3px; box-shadow: 3px 3px 3px #ccc; width: 50px;">&nbsp;</div>
												</td>
											</tr>
											<tr>
												<td><i class="glyphicon glyphicon-link"></i></td>
												<td>Link</td>
												<td> <a ng-href="{{currentItem.link}}" target="_blank"> {{currentItem.name}}</a> </td>
											</tr>
										</table>
									</div>
								</div>
								<div class="row">

									<div class="col-md-3">
										<div class="fb-share-button" data-href="https://www.facebook.com/zoomcar.in/" data-layout="button"></div>
									</div>
									<div class="col-md-3">
										<div class="g-plusone" data-annotation="inline" data-width="120" data-href="https://plus.google.com/explore/ZoomCar"></div>
									</div>
									<div class="col-md-3">
										<script src="//platform.linkedin.com/in.js" type="text/javascript">
											lang: en_US
										</script>
										<script type="IN/Share" data-url="https://www.linkedin.com/company/zoomcar-india-pvt-ltd-" data-counter="right"></script>
									</div>
									<div class="col-md-3"><a href="https://twitter.com/share" class="twitter-share-button" {count} data-url="http://www.zoomcar.com/">Tweet</a>
										<script>
											!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
										</script>
									</div>
								</div>


							</div>
							<div class="row">
								<div class="col-md-12 text-center">
									<div id="map_canvas" style="height: 350px; width: 820px; "></div>
								</div>
							</div>
						</div>
					</div>
				</div>




			</div>
		</div>


	</div>


	<script src="https://apis.google.com/js/platform.js" async defer></script>


</body>

</html>